<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>vorbital.icns</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleExecutable</key>
	<string>Vorbital</string>
	<key>CFBundleIdentifier</key>
	<string>com.zetacentauri.Vorbital</string>
	<key>CFBundleVersion</key>
	<string>4.31.2</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>4.31</string>
        <key>LSApplicationCategoryType</key>
        <string>public.app-category.music</string>
	<key>CFBundleName</key>
	<string>Vorbital</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2016 Jason Champion. All rights reserved.</string>

</dict>
</plist>
